.button {
    color: white;
    text-decoration: none;
    transition-duration: 1s;
    cursor: pointer;
    text-align: center;
    font-style: italic;
}

#Contactbutton1{
    background-color: black;
    color: black;
    border: 2px solid black;
    border-radius: 50px;
    font-size: 50px;
    margin-left: 45%;
    margin-right: 45%;
    margin-top: 80px;
    margin-bottom: 80px;
    font-weight: 100px;
}

#Contactbutton1:hover {
    background-color: white;
    color: black;
}