/* Logo Size */
#Logo_id{
    width: 20%;
}

/* Navigation Bar positioning and text styles*/
.bar {
    color: white;
    font-size: 25px;
    font-weight: 1000px;
    text-decoration: none;
    line-height: 65px;
    padding: 40px;
}

/* Wdith of navigation bar */
nav {
    float: right;
    padding-top: 10px;
}

/* Color of the navigation bar */
header {
    background-color: black;
}

/* Allow a change of border color when user hover over it */
.bar:hover {
    background-color: white;
    border-radius: 1000px;
    color: black;
  }