.polaroid{
    width: 350px;
    height: 350px;
    background-color: whitesmoke;
    font-size: 25px;
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: black;
    color: white;

    margin-right: 20%;
    display:grid;
    grid-template-columns: 25% auto 35%;
}

.polaroidd{
    width: 350px;
    height: 350px;
    background-color: whitesmoke;
    font-size: 25px;
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: black;
    color: white;

    margin-right: 20%;
    display:grid;
    grid-template-columns: 35% auto 25%;
}

.container {
    text-align: center;
    margin: 20px;
}

#polariod1{
    float: left;
    width: 80%;
    padding-left: 20%;
    border: 20px solid;
    border-color: black;
    border-radius: 1000px;
    margin-left: 250px;
    
}

#polariod2{
    float: right;
    width: 80%;
    padding-right: 20%;
    border: 20px solid;
    border-color: black;
    border-radius: 1000px;
    margin-right: 250px;

}

#polariod3{
    float: left;
    width: 80%;
    padding-left: 20%;
    border: 20px solid;
    border-color: black;
    border-radius: 1000px;
    margin-left: 250px;
}

#polariodtext1{
    color: white;
    
}
