/*  Main styles for the pictures and text that favors the right */
.polaroid{
    width: 350px;
    height: 350px;
    background-color: whitesmoke;
    font-size: 20px;
    margin-top: 20px;
    background-color: darkslateblue;
    color: white;
    position: relative; left: 150px;

    margin-right: 20%;
    display:grid;
    grid-template-columns: 25% auto 35%;
}

/*  Main styles for the pictures and text that favors the left */
.polaroidd{
    width: 350px;
    height: 350px;
    background-color: whitesmoke;
    font-size: 20px;
    margin-top: 20px;
    background-color: darkslateblue;
    color: white;
    position: relative; right: 150  px;

    margin-right: 20%;
    display:grid;
    grid-template-columns: 35% auto 25%;
}

/* A container that contains the picture and the text under the picture */
.container {
    text-align: center;
    margin: 20px;
}

/* custom positioning and styles for pic 1 */
#polariod1{
    float: left;
    width: 80%;
    padding-left: 20%;
    border: 20px solid;
    border-color: aqua;
    border-radius: 1000px;
    margin-left: 250px;   
}

/* custom positioning and styles for pic 2 */
#polariod2{
    float: right;
    width: 80%;
    padding-right: 20%;
    border: 20px solid;
    border-color: aqua;
    border-radius: 1000px;
    margin-right: 250px;
}

/* custom positioning and styles for pic 3 */
#polariod3{
    float: left;
    width: 80%;
    padding-left: 20%;
    border: 20px solid;
    border-color: aqua;
    border-radius: 1000px;
    margin-left: 250px;
}

/* text Color */
#polariodtext1{
    color: white;
}
