/* Main style of the layout and size of the sign up form */
.main{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
	width: 550px;
	height: 700px;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 5px 20px 50px aqua;
	margin-bottom: 100px;
}

/*Text header style for the upload section */
#Uploadtext{
    font-size: 20px;
    margin-left: 30%;
    margin-right: 30%;
	color: white;
}

/* hides the ticbox */
#chk{
	display: none;
}

/* Size of the form */
.signup{
	position: relative;
	width:100%;
	height: 100%;
}

/* The Sign up and File and Proof of File data label styles */
label{
	color: black;
    font-size: 40px;
	justify-content: center;
	display: flex;
	margin: 60px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}

/* The Sign up and File and Proof of File data label styles */
input{
	width: 60%;
	height: 20px;
	background: whitesmoke;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: 5px solid;
    border-color: aqua;
    border-radius: 100px;
	outline: none;
}

/* Buttons for Submitting the Files and text details */
button{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: whitesmoke;
	background: black;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}

button:hover{
	background: grey;
}

/* Size of the file upload page */
.Fileupload{
	height: 560px;
	background: aqua;
	border-radius: 60% / 10%;
	transform: translateY(-180px);
	transition: .8s ease-in-out;
}

.Fileupload label{
	color: white;
	transform: scale(.6);
}

/* Check if there is a user input in the Sign Up form */
#chk:checked ~ .Fileupload{
	transform: translateY(-500px);
}

#chk:checked ~ .Fileupload label{
	transform: scale(1);	
}

#chk:checked ~ .signup label{
	transform: scale(.6);
}